.container {
 
  display: flex;
  justify-content: center;
  position: relative;
  border-top:1px solid black; 
}
.item {
  width: 400px;
  border: 1px solid black;
  margin-right: 25px;
  border-radius: 10px;
  background-color: antiquewhite;
  position: relative;
}

p,
h2 {
  text-align: center;
}

.item > img {
  height: 200px;
  width: 100%;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;

}
.item > button {
  position: absolute;
  top: 20px;
  left: 300px;
  background-color: palevioletred;
}
.item2 > button {
  position: absolute;
  top: 20px;
  left: 300px;
  background-color:palevioletred;
}
.item3 > button {
  position: absolute;
  top: 20px;
  left: 300px;
  background-color: palevioletred;
}
.title {
  display: flex;
  /*justify-content: space-around;*/
  margin: 5px ;
  width: 1300px;
  margin-right: 150px;
 /* text-align: left;*/

}
.cooking{
    border-bottom: 1px solid rgb(63, 63, 185);
    margin-right: 1100px;
   
}
.icon{
    margin-right: 180px;
}
.icon1{
    margin-right: 180px;
}
.icon2{
    margin-right: 180px;
}